  <% @notes.each do |note| %>
		<div class="post">
				<h4><%= note.title %></h4>
				<small><%= note.created_at %></small>
	    </div>
      <% end %>
			<div class="noted">
      <div class="btn-new"><a href="/notes/new">New Thought</a></div>
		</div>
