		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 site">


						<div class="site-title">
							<h2><b>Hey!</b> - Write down a random fucking thought.</h2>
						</div><! --/site top -->
            <% @notes.each do |note| %>
							<div class="post">
									<h4><%= note.title %></h4>
									<small><%= note.created_at %></small>
                  <div class="btn-delete"><%= link_to "Remove", note, method: :delete, data: { confirm: "Are you sure?" } %></div>
						    </div>
                <% end %>
								<div class="noted">
                <div class="btn-new"><a href="/notes/new">New Thought</a></div>
							</div>

							<div class="post centered">
								<img src="https://scontent.xx.fbcdn.net/hphotos-xft1/t31.0-8/12362854_10153845804411942_7770836014860370598_o.jpg" class="img-circle" width="90">
								<h6>created By</h6>
								<h5>Dylan</h5>
							</div>

							<div class="site-footer">
								<p><a href="https://github.com/dylanjhunt"><i class="fa fa-github-square"></i> About</a></p>
							</div>

				</div><!-- /col-md-6 -->
			</div><! --/row -->
		</div><! --/container -->
