<div class="newnote">
  <h2>Add New Thought</h2>
  <%= form_for @note do |f| %>
    <div class="field">
      <%= f.text_field :title, autofocus: true %>
    </div>
    <div class="note-btn">
      <%= f.submit "Add Thought" %>
    </div>
  <% end %>
</div>
