<% @redditscraping.each do |entry| %>
  <div class="post">
      <a href="http://reddit.com/<%= entry.link %>"><h4><p><%= entry.title %></p></h4></a>
    </div>
    <% end %>
    <div class="noted">
    <div class="btn-new"><%= link_to('New Thought', new_note_path) %></div>
  </div>
