<% @redditscraping.each do |entry| %>
  <div class="post">
      <a href="http://reddit.com/<%= entry.link %>"><h4><p><%= entry.title %></p></h4></a>
    </div>
    <% end %>
    <div class="noted">
    <div class="btn-new"><a href="/notes/new">New Thought</a></div>
  </div>
