      <div class="post centered">
        <img src="https://scontent.xx.fbcdn.net/hphotos-xft1/t31.0-8/12362854_10153845804411942_7770836014860370598_o.jpg" class="img-circle" width="90">
        <h6>created By</h6>
        <h5>Dylan</h5>
      </div>

      <div class="site-footer">
        <p><a href="https://github.com/dylanjhunt"><i class="fa fa-github-square"></i> About</a></p>
      </div>

    </div><!-- /col-md-6 -->
  </div><! --/row -->
</div><! --/container -->
